<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Asset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Manufacturer</ion-label>
      <ion-input formControlName="manufacturer" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input formControlName="model" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Serial Number</ion-label>
      <ion-input formControlName="serialNumber" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Manufacture Date</ion-label>
      <ion-datetime formControlName="manufactureDate" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!assetForm.valid"> Create Asset </ion-button>
  </form>
</ion-content>
