div.actions {
  margin: 16px 0px;

  display: flex;
}

ion-list {
  border-radius: 16px;
  margin-top: 8px;
}

p.gemkey-text {
  padding: 16px 8px 0px;
}

ion-item.gemkey {
  border-radius: 16px;
  margin: 8px 0px;
}

ion-button.revoke-button {
  margin: 16px 0px;
}
