<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{permission.username}} Permissions</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="user">
    <h1> {{permission.username}} <ion-chip [color]="permission.color"> {{permission.status}} </ion-chip> </h1>
    <p>
      <ion-icon name="person-outline"></ion-icon> {{ permission.role }}
      &nbsp;|&nbsp;
      <ion-icon name="time-outline"></ion-icon> {{ permission.expiration }}
      &nbsp;|&nbsp;
      <ion-icon name="wallet-outline"></ion-icon> {{ permission.id }}
    </p>
  </div>

  <div class="actions">
    <ion-button color="tertiary" shape="round"> <ion-icon name="calendar-outline"></ion-icon> &nbsp; Extend Expiration </ion-button>
    <ion-button shape="round"> <ion-icon name="add-outline"></ion-icon> &nbsp; Add Asset </ion-button>
  </div>

  <p class="assets-text"> Assets with permission </p>
  <ion-list>
    <ion-item *ngFor="let asset of permission.assets">
      <ion-label>
        <h2>{{ asset.name }} ({{asset.id}})</h2>
        <p> Expires: {{ permission.expiration }} </p>
      </ion-label>
      <ion-button slot="end" color="danger" shape="round"> <ion-icon name="close-outline"></ion-icon> Remove </ion-button>
    </ion-item>
  </ion-list>

  <p class="gemkey-text"> {{permission.username}} Maintainer KEY </p>
  <ion-item class="gemkey" lines="none">
    <ion-input
      [type]="isContentVisible ? 'text' : 'password'"
      readonly="true"
      [value]="isContentVisible ? apiKey : 'User Maintainer GemKey'"
    ></ion-input>
    <ion-button fill="clear" slot="end" (click)="toggleContentVisibility()">
      <ion-icon color="light" [name]="isContentVisible ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-button class="revoke-button" expand="block" color="danger" shape="round"> <ion-icon name="close-outline"></ion-icon> Revoke Permission </ion-button>
</ion-content>
