<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asset Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <app-event-item *ngFor="let event of events" [event]="event"></app-event-item>
  </ion-list>

  <ion-item *ngIf="events.length === 0">
    <ion-label>No events found for this asset.</ion-label>
  </ion-item>
</ion-content>
