.asset-card {
  margin-bottom: 20px;
}
ion-card-title {
  font-size: 1.2em;
  color: var(--ion-color-primary);
}
ion-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
}
ion-label {
  font-weight: bold;
}
ion-textarea {
  margin-top: 10px;
}
