<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Asset Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="header">
    <img src="assets/icon/gemio.png" alt="Gemio" />
    <h1>Gemio</h1>
  </div>

  <hr>

  <div class="info" *ngIf="collection">
    <h1> {{collection.name | titlecase}} Collection Assets </h1>
    <p> Here you can see all the assets in this collection. </p>
  </div>

  <hr>

  <ion-searchbar placeholder="Search Assets" mode="ios" color="dark"></ion-searchbar>


  <ng-container *ngIf="assets && assets.length > 0; else noAssets">

    <ion-accordion-group>
      <ion-accordion *ngFor="let asset of assets" class="asset-card">
        <ion-item slot="header" color="dark">
          <ion-avatar slot="start">
            <img [src]="asset.details.image" alt="Asset Image" />
          </ion-avatar>
          <ion-label>
            <!-- <h5> {{asset.details.asset.machine.name}} </h5> -->
            <p> Serial Number: {{ asset.serialNumber }} <br> </p>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <div class="asset-info">
            <h4 class="ion-text-center">Assets Information</h4>
            <div class="nft-image">
              <img [src]="asset.details.image" alt="Asset Image" />
            </div>
            <ion-item>
              <ion-label>Asset ID</ion-label>
              <p slot="end">{{ asset.id }}</p>
            </ion-item>
            <ion-item>
              <ion-label>Asset Owner</ion-label>
              <p slot="end">{{ asset.owner }}</p>
            </ion-item>
            <ion-item>
              <ion-label>Asset Serial Number</ion-label>
              <p slot="end">{{ asset.serialNumber }}</p>
            </ion-item>
            <ion-item>
              <ion-label>Asset Creation Time</ion-label>
              <p slot="end">{{ asset.creationTime | date : 'medium'}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Hedera File ID</ion-label>
              <p slot="end">{{ asset.metadata }}</p>
            </ion-item>
          </div>

          <ion-accordion-group>
            <ion-accordion value="metadata">
              <ion-item slot="header" color="dark">
                <ion-label>Metadata</ion-label>
              </ion-item>
              <div slot="content">
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <pre style="white-space: pre-wrap;">
                      {{ asset.details | json }}
                    </pre>
                  </ion-label>
                </ion-item>
              </div>
            </ion-accordion>

            <ion-accordion value="events">
              <ion-item slot="header" color="dark">
                <ion-label>Events</ion-label>
              </ion-item>
              <div slot="content">

                <ion-item class="event-item" *ngFor="let event of asset.events">
                  <ion-label class="ion-text-wrap">
                    <h5> <pre> {{ event.message | json }} </pre> </h5>
                    <p>{{event.timestamp | date : 'medium'}}</p>
                  </ion-label>
                </ion-item>

                <div class="send-event">
                  <h4>Send Event</h4>
                  <ion-item>
                    <ion-textarea [(ngModel)]="newEvent" placeholder="Enter the event payload"></ion-textarea>
                  </ion-item>
                  <ion-button expand="block" (click)="publishEvent(asset)">Publish Event</ion-button>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>

           <hr>
          <ion-button expand="block" color="tertiary" (click)="openOnHashscan(asset)">View Asset on Hashscan</ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>

  <ng-template #noAssets>
    <div class="collection-empty ion-text-center">
      <h5> <b>No Assets Found</b> </h5>
      <p> There are no assets in this collection. </p>
      <hr>
      <ion-button expand="block" shape="round" size="small" routerLink="/asset-form/{{ collectionId }}"> Create Asset </ion-button>
    </div>
  </ng-template>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/asset-form/' + collectionId">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
