<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="header">
    <img src="assets/icon/gemio.png" alt="Gemio" />
    <h1>Gemio</h1>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="user-logged">
    <h1>Welcome {{ username | titlecase}}!</h1>
    <p><strong>Hedera Account ID:</strong> {{ hederaAccountId }}</p>
  </div>

  <div class="action">

    <div class="card" [routerLink]="'/collections'">
      <ion-icon class="collection-icon" name="albums-outline"></ion-icon>
      <div class="text">
        <h1>See Collections</h1>
        <p> View all your collections and assets</p>
      </div>
    </div>

    <div class="card" [routerLink]="'/permissions'">
      <ion-icon class="permissions-icon" name="lock-closed-outline"></ion-icon>
      <div class="text">
        <h1> Manage Permissions</h1>
        <p> Manage permissions for users and assets</p>
      </div>
    </div>

    <div class="card">
      <ion-icon class="profile-icon" name="person-circle-outline"></ion-icon>
      <div class="text">
        <h1> Manage Account</h1>
        <p> Manage your account details</p>
      </div>
    </div>

  </div>
</ion-content>
