<ion-header>
  <ion-toolbar>
    <ion-title>Asset Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let asset of assets">
        <app-asset-summary-card [asset]="asset"></app-asset-summary-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/asset-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
