<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="user-info-card">
    <ion-card-header>
      <ion-card-title>Welcome, {{ username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Hedera Account ID:</strong> {{ hederaAccountId }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="collections-card">
    <ion-card-header>
      <ion-card-title>Your Collections</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let collection of collections; let i = index" [routerLink]="'/asset/' + collection.id" class="collection-item" [attr.data-index]="i">
          <ion-label>
            <h2>{{ collection.name }}</h2>
            <p>{{ collection.symbol }}</p>
          </ion-label>
          <ion-note slot="end">{{ collection.id }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-button expand="block" routerLink="/collection-form" class="create-collection-btn">
        Create New Collection
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
